@tailwind base;
@tailwind components;
@tailwind utilities;

/* to load animation for a specific spinner */
@import '~spinners-react/lib/SpinnerCircular.css';

/* Image Gallery Style */
@import '~react-image-gallery/styles/css/image-gallery.css';

@font-face {
    font-family: 'RobotoMono';
    src: url('../../public/fonts/RobotoMono-VariableFont_wght.ttf');
}

:root {
    --main-transition-color: hsl(195, 77%, 52%);
    --secondary-transition-color: hsl(284, 70%, 51%);
}

@layer base {
    html {
        font-family: RobotoMono, system-ui, monospace;
    }
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent),
        linear-gradient(
            111.3deg,
            var(--main-transition-color) 9.6%,
            var(--secondary-transition-color) 93.6%
        );
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
}
